<% title "Ingredient" %>

<p>
  <strong>Name:</strong>
  <%= @ingredient.name %>
</p>

<p>
  <%= link_to "Edit", edit_ingredient_path(@ingredient) %> |
  <%= link_to "Destroy", @ingredient, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", ingredients_path %>
</p>
